<% include ../../partials/header %> 

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col">
            <h1>هنا سيتم عرض فعالية واحدة فقط</h1> 
            <h1><%= event.name %></h1>
        </div>
    </div>
</div>

<% include ../../partials/footer %>
