<% include ../partials/header %> 

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col">
            <h1>مرحباً بكم في الصفحة الرئيسية</h1> 
        </div>
        <p>
            <a href="/events" class="btn btn-primary">الفعاليات</a>
        </p>
    </div>
</div>

<% include ../partials/footer %>